.list li {
    background-color: #F3F3F3;
    border: 1px solid #E6E6E8;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    list-style-type: none;
    width: 250px;
}

.list {
    padding: 0;
}

.list li:hover {
    background-color: #0053AA;
    color: white;
}

.icon {
    padding: 0;
}

.icon li {
    background-color: #DFDFDF;
    list-style-type: none;
    display: inline-block;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    margin: 5px;
}

.icon li i {
    position: relative;
    top: 8px;
}

.icon li:hover {
    background-color: orange;
}